*{
    margin: 0;
}
body{
    background-color: #f7f7f7;
}
.container{
    border:2px solid;
    margin:auto;
    width:30%;
    padding: 20px;
    margin-top: 90px;
    background-color: #7ff6c2;
    border-radius: 50px;
    border-color: #7ff6c2;
   

}
img{
    border-radius:100px;
    width:100px;
    padding-left: 150px;
}
input{
    padding: 10px;
    height: 10px;
    width:180px;
    margin-left: 100px;
    border-radius: 10px;
    border-color: #7ff6c2;
}
.buttons1{
    display: flex;
    gap:70px;
    margin-left: 100px;

}